<table id="playlist-table">
	<thead>
		<tr>
			<th></th>
			<th class="center">#</th>
			<th>Artist</th>
			<th>Title</th>
			<th>Album</th>
			<th class="time-cell"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="song in $ctrl.songs"
			ng-click="$ctrl.select(this)"
			ng-dblclick="$ctrl.playSong(this.$index, true)"
			ng-class="{'selected': $ctrl.selected == this, 'playing': $ctrl.currentlyPlaying._id == song._id}">
			<td class="current"></td>
			<td class="center">{{song.tracknumber}}</td>
			<td>{{song.artist}}</td>
			<td>{{song.title}}</td>
			<td>{{song.album}}</td>
			<td class="time-cell"><time ng-if="$ctrl.currentlyPlaying._id == song._id"></time></td>
		</tr>
	</tbody>
</table>
